@import "tailwindcss";
:root {
  --primary: #FF621F;
  --secondary: #07AC9E;
  --paragraph: #666666;
  --primary-b: #222222;
  --primary-o: #FA7436;
  --color-b-1: #444444;
  --gray-bg: #E8EAEB;
  --black-bg: #080707;
  --white-bg: #FFFFFF;
  --secondary-tint: #07AC9E66;
  --dark-bg-1: #2C2728;
  --dark-bg-2: #444444;
  --dark-bg-3: #494949;
  --dark-bg-4: #4A4A4A;
  --para-gray: #666666;
  --off-white: #FBFBEC;
  --light-white: #FBFBFB;
  /* --hero-bg: #FBFBEC */
}


@theme inline {

}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

body {

}
